@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

html {
  font-size: 16px;
}

body {
  background: #e6e6e6;
  font-family: 'Playfair Display', serif;
}

#main {
  margin: 1rem 0;
  padding: 1rem;
}


#title {
  color: red;
}
